<div class="col-md-4">
    <div class="card">
        <div class="property">
            <div class="icon">{{{icon category source}}}</div>
            <div class="text" style="text-transform: uppercase;">{{source}}</div>
        </div>
        <div class="property">
            <div class="icon"><i class="fa fa-cny"></i></div>
            <div class="text">{{value}}</div>
        </div>
        <div class="property">
            <div class="icon"><i class="fa fa-calendar"></i></div>
            <div class="text">{{format datetime "MMMM DD"}}&nbsp;|&nbsp;{{format datetime "dddd"}}</div>
        </div>
    </div>
</div>