<script type="text/javascript" src="/lib/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/lib/crossfilter/crossfilter.min.js"></script>
<script type="text/javascript" src="/lib/d3/d3.min.js"></script>
<script type="text/javascript" src="/lib/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/js/highcharts.option.js"></script>
<script type="text/javascript">
$(function(){
    var gid = '{{data.group.id}}';
    var option = $.extend(true, defaultOption);
    
    $.ajax({
        type: 'GET',
        url: '/group/{id}/indexvalue'.replace('{id}', gid),
        dataType: 'json',
        success: function (data) {
            var dataset = crossfilter(data.indexvalue);
            var dimension = {}, 
                group = {};
            dimension.source = dataset.dimension(function(d) { return d.source; });
            group.source = dimension.source.group();
            
            option.series = _.map(group.source.top(Infinity), function (group, index) {
                return {
                    animation: true,
                    name: group.key,
                    color: option.colors[index],
                    marker: { lineColor: option.colors[index] },
                    // zIndex: source.datas.length - index,
                    data: _.map(_.sortBy(dimension.source.filter(group.key).top(Infinity), function(item, index) {
                        return item.datetime;
                    }), function(item, index) {
                        return [(new Date(item.datetime)).getTime(), getValue(item)];
                    })
                };
            });
            
            $('#chart').highcharts(option);
        }
    });
});

</script>
<div class="container" style="opacity: 0.95;">
    <header></header>
    <div class="row">
        <div class="col-md-12">
            <div id="container" style="background-color: #fff;">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{data.group.title}}</h1>
                    </div>
                    {{#each data.indexvalue}}
                        {{{rendercard this}}}
                    {{/each}}
                    <div class="col-md-12">
                        <div class="chart">
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>